<%= form_with url: flights_index_path, method: :get, local: true do |form| %>
    <h3>Search for flights</h3>

    <% @airports = Airport.all.map { |airport| [airport.airport_code, airport.id] } %>
    <% @flight_dates = Flight.all.map { |flight| [flight.flight_date.strftime("%m/%d/%Y")] } %>
    <% @flight_times = Flight.all.map { |flight| [flight.flight_time.strftime("%I:%M%p")] } %>
    <% @flights = Flight.all.map { |flight| [flight.id] } %>
    <% @passengers = [1,2,3,4] %>

    <div>
        <%= form.label :departure_location %> <br>
        <%= select_tag(:departure_airport, options_for_select(@airports, selected: params[:departure_airport_id])) %>
    </div>

    <br>

    <div>
        <%= form.label :destination_location %> <br>
        <%= select_tag(:destination_airport, options_for_select(@airports, selected: params[:destination_airport_id])) %>
    </div>

    <br>
        
    <div>
        <%= form.label :date %> <br>
        <%= select_tag(:flight_date, options_for_select(@flight_dates, selected: params[:flight_date])) %>
    </div>

    <br>

    <div>
        <%= form.label :time %> <br>
        <%= select_tag(:flight_time, options_for_select(@flight_times, selected: params[:flight_time])) %>
    </div>

    <br>

    <div>
        <%= form.label :passengers %> <br>
        <%= select_tag(:passengers, options_for_select(@passengers))%>
    </div>

    <br>

    <%= form.submit "choose flight" %>
<% end %>