<%= form_with url: flights_index_path, method: :get do |form| %>
    <h3>Search for flights</h3>

    <% @airports = Airport.all.map { |airport| [airport.airport_code, airport.id] } %>
    <% @flight_dates = Flight.all.map { |flight| [flight.flight_date.strftime("%m/%d/%Y")] } %>
    <% @flight_times = Flight.all.map { |flight| [flight.flight_time.strftime("%I:%m%p")] } %>
    <% @flights = Flight.all.map { |flight| [flight.id] } %>

    <div>
        <%= form.label :departure_location %> <br>
        <%= select_tag(:departing_flights, options_for_select(@airports, selected: params[:departure_airport_id])) %>
    </div>

    <br>

    <div>
        <%= form.label :destination_location %> <br>
        <%= select_tag(:destination_flights, options_for_select(@airports, selected: params[:destination_airport_id])) %>
    </div>

    <br>
        
    <div>
        <%= form.label :date %> <br>
        <%= select_tag(:flight_dates, options_for_select(@flight_dates, selected: params[:flight_date])) %>
    </div>

    <br>

    <div>
        <%= form.label :time %> <br>
        <%= select_tag(:flight_times, options_for_select(@flight_times, selected: params[:flight_time])) %>
    </div>
<% end %>